body
{width: 90%;3 margin-left:auto;margin-right:auto;
background-color:#303D58;
font-family: Arial,"Times New Roman", Times,sans-serif;}
a {color:#F7E444;text-decoration:none;}
a:hover
{sus: .;text-decoration:underline;
}
#etoile_filante
{width: 200px;height: 168px;position:absolute;top:0px;left:
0px;background:url("images/pictoilefilante.png") no-repeat;
}
#en_tete 
{
    height:109px;
    border: 2px dotted #F7E444;
    background: url("images/header.png") no-repeat bottom right black; 
}
   #corps h1
{
    text-indent: -50000px;
}
#menu
{
    width: 20%;
    float: left;
}
.sous_menu
{margin-top:20px;
background-color: black;
color:#F7E444;
border: 2px dotted #F7E444;
}
.sous_menu 
{
    color: #0099FF;
    text-align: center;
}
#corps
{
    margin-left: 22%; 3 margin-top: 20px; padding:10px;
    border: 2px dotted #F7E444;color:#e3ab57; background-color: black; text-align: justify;
}
#corps h2
{text-align: center;color:#0099FF;
}
#pied_de_page
{
    clear: left;
    margin-top: 30px;
    padding 5px;
    background: url("image/pictoiles.png")no-repeat bottom :right black; color: #E3AB57;
    text-align:center;
     border: 2px dotted #F7E444;
}